{% extends "base.html" %}
{% load static %}
{% block title %}방명록 작성{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/post/create_post.css' %}">
    <div class="post_container"></div>
    <form action="{% url 'create_post' %}" method='post'>
        {% csrf_token %}
        <label for="title">제목</label>
        <input type="text" name='title' placeholder="제목을 입력해주세요">

        <label for="content">내용</label>
        <input type="text" name="content" placeholder="내용을 입력해주세요">

        <button type='submit'>작성완료</button>
    </form>
{% endblock %}